//Fonts
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");


//Colors variables
$white: #ffffff;
$red: hsl(354, 100%, 66%);
$grey: hsl(0, 0%, 59%);
$blue: hsl(223, 87%, 63%);
$darkBlue: hsl(209, 33%, 12%);
$greyBlue: hsl(223, 100%, 88%);

