@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  color: black;
}

#pageContainer {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header img {
  width: 25%;
}

#header h4 {
  padding-top: 5px;
  margin-bottom: 0.5em;
}

#header span {
  font-weight: 300;
  color: #969696;
}

#header p {
  font-size: 0.6em;
}

#formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 250px;
  margin: 20px 0 60px;
}

#formContainer input {
  border-radius: 20px;
  height: 40px;
  border: 1px solid #c2d3ff;
  padding: 0 30px;
  font-size: 0.6em;
  font-weight: 300;
}

#formContainer #response {
  font-size: 0.5em;
  color: #ff5263;
}

#formContainer button {
  margin: 10px 0;
  border-radius: 20px;
  height: 40px;
  border: 1px solid #4f7df3;
  color: #ffffff;
  background-color: #4f7df3;
}

#formContainer button:hover {
  background-color: #c2d3ff;
  cursor: pointer;
  border: none;
}

input::-webkit-input-placeholder {
  color: #c2d3ff;
}

input:-ms-input-placeholder {
  color: #c2d3ff;
}

input::-ms-input-placeholder {
  color: #c2d3ff;
}

input::placeholder {
  color: #c2d3ff;
}

#imageContainer img {
  width: 80%;
  max-width: 400px;
}

#footer {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#footer #social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#footer #social i {
  padding-top: 1px;
  color: #4f7df3;
  border: 1px solid #c2d3ff;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  font-size: 13px;
}

#footer #social i:hover {
  color: #ffffff;
  background-color: #4f7df3;
  cursor: pointer;
}

#footer p {
  margin-top: 20px;
  color: #969696;
  font-size: 0.4em;
}

.red {
  border: 1px solid #ff5263 !important;
}

.red::-webkit-input-placeholder {
  color: black !important;
}

.red:-ms-input-placeholder {
  color: black !important;
}

.red::-ms-input-placeholder {
  color: black !important;
}

.red::placeholder {
  color: black !important;
}

@media screen and (min-width: 1440px) {
  #header {
    font-size: 2em;
  }
  #header img {
    width: 15%;
  }
  #header p {
    font-size: 0.4em;
  }
  #formContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #formContainer input {
    min-width: 300px;
    margin-right: 10px;
  }
  #formContainer button {
    margin: 0;
    min-width: 150px;
  }
  #formContainer #response {
    position: absolute;
    margin: 43px 0 0 15px;
  }
  #imageContainer img {
    max-width: 600px;
  }
}
/*# sourceMappingURL=styles.css.map */